/*  your custom styles here  */

@font-face {
    font-family: "comfortaa";
    src: url("./Comfortaa-VariableFont_wght.ttf");
}


html{
    min-height:100vh;
    margin:0;
}

img{
    max-width:80%;
    border-radius: 5px;
    margin:auto;

}

.page-content {
    background-color: #302D38; 
    color:#fff;
    font-family: "comfortaa";
}

h1{
    color:#fff;
}

.flex-wrapper{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.photoDisplay{
    border-radius: 5px;
    display:flex;
    align-items: center;
    /* background-color:#BD9576; */
    padding: 10%;
    margin-top:10%;
}


.demo-swiper .swiper-slide {
    font-size: 25px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#5D576B;
    background: linear-gradient(to bottom right, #FFF481, #A0DDF7);
    box-sizing: border-box;
    border-radius: 15%;
  }

  .demo-swiper {
    margin: 0px 0 20px;
    font-size: 18px;
    height: 175px;
    width:200px;
  }

  .card1{
    translate:-50px;
  }
  .card2{
    translate:30px;
  }
  

  #yourColor{
    height:75px;
    width:75px;
    margin:20px;
    border-radius: 10%;
    margin:0;
  }
  #number{
    font-size:18px;
  }



  /* Custom color theme */
:root {
    --f7-theme-color: #A0DDF7;
    --f7-theme-color-rgb: 160, 221, 247;
    --f7-theme-color-shade: #7ad0f4;
    --f7-theme-color-tint: #c6eafa;
  }
  /* Invert navigation bars to fill style */
  :root,
  :root.dark,
  :root .dark {
    --f7-bars-bg-color: var(--f7-theme-color);
    --f7-bars-bg-color-rgb: var(--f7-theme-color-rgb);
    --f7-bars-translucent-opacity: 0.9;
    --f7-bars-text-color: #5D576B;
    --f7-bars-link-color: #5D576B;
    --f7-navbar-subtitle-text-color: rgba(255,255,255,0.85);
    --f7-bars-border-color: transparent;
    --f7-tabbar-link-active-color: #5D576B;
    --f7-tabbar-link-inactive-color: rgba(255,255,255,0.54);
    --f7-sheet-border-color: transparent;
    --f7-tabbar-link-active-border-color: #fff;
  }


  /* SVG */
  .cls-1, .cls-2 {
    fill: none;
  }

  .cls-1, .cls-3 {
    stroke: #231f20;
    stroke-miterlimit: 10;
  }

  .cls-4 {
    fill: #eecde2;
  }

  .cls-5 {
    clip-path: url(#clippath-1);
  }

  .cls-6 {
    clip-path: url(#clippath);
  }

  .cls-3 {
    fill: #fbf49c;
    stroke-width: 1px;
  }